.todoList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #f9f9f9; /* светлый фон */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 30px 0;
  }

  /* Элемент */
  .todoList__addTask {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .todoList__input {
    width: 98%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }

  .todoList__button {
    background-color: #007bff; /* синий цвет */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .todoList__button:hover {
    background-color: #0056b3; /* темнее при наведении */
  }

  .todoList__tabs {
    display: flex;
    margin-bottom: 20px; /* Отступ между вкладками и списком задач */
  }

  .todoList__tabsItem {
    flex: 1; /* Занимает равное пространство */
    padding: 10px;
    border: none;
    background-color: #f1f1f1; /* Светло-серый фон по умолчанию */
    color: #333; /* Темный текст */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px 4px 0 0; /* Скругление верхних углов */
    position: relative;
  }

  .todoList__tabsItem::after {
    content: attr(data-parent);
    position: absolute;
    font-size: 12px;
    top: 3px;
    color: #c82323;
  }

  .todoList__tabsItem:hover {
    background-color: #e1e1e1; /* Более темный фон при наведении */
  }

  .todoList__tabsItem_active {
    background-color: #ffffff; /* Белый фон для активной вкладки */
    color: #007bff; /* Синий цвет текста для активной вкладки */
    font-weight: bold; /* Жирный текст для выделения */
    border-bottom: 2px solid #007bff; /* Подчеркивание для активной вкладки */
  }

  .todoList__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }