/* ToDoList.module.css */

.container {
    background-color: #f9f9f9; /* светлый фон */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 30px 0;
  }

  .addTask{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .input {
    width: 99%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .button {
    background-color: #007bff; /* синий цвет */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button:hover {
    background-color: #0056b3; /* темнее при наведении */
  }

  h2 {
    color: #333; /* темный текст */
  }

  ul {
    list-style-type: none; /* убираем маркеры */
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .checkbox {
    margin-right: 10px;
  }

  .deleteButton {
    background-color: #dc3545; /* красный цвет */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  .deleteButton:hover {
    background-color: #c82333; /* темнее при наведении */
  }

  .footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .tabs {
    display: flex;
    margin-bottom: 20px; /* Отступ между вкладками и списком задач */
  }

  .tabs .tabsNoComplited,.tabsComplited{
    flex: 1; /* Занимает равное пространство */
    padding: 10px;
    border: none;
    background-color: #f1f1f1; /* Светло-серый фон по умолчанию */
    color: #333; /* Темный текст */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px 4px 0 0; /* Скругление верхних углов */
    position: relative;
  }

  .tabsNoComplited::after,.tabsComplited::after{
    content: attr(data-parent);
    position: absolute;
    font-size: 12px;
    top: 3px;
    color: #c82323;
  }
  .tabs button:hover {
    background-color: #e1e1e1; /* Более темный фон при наведении */
  }

  .tabsNoComplited.active,
  .tabsComplited.active {
    background-color: #ffffff; /* Белый фон для активной вкладки */
    color: #007bff; /* Синий цвет текста для активной вкладки */
    font-weight: bold; /* Жирный текст для выделения */
    border-bottom: 2px solid #007bff; /* Подчеркивание для активной вкладки */
  }